/*html.has-scroll-smooth {
    overflow: hidden
}

html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.has-scroll-smooth body {
    overflow: hidden
}

.has-scroll-smooth [data-scroll-container] {
    min-height: 100vh
}

[data-scroll-direction=horizontal] [data-scroll-container] {
    display: inline-block;
    height: 100vh;
    white-space: nowrap
}

[data-scroll-direction=horizontal] [data-scroll-section] {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    white-space: nowrap
}*/
.c-section {
    position: relative;
}
.o-layout_item {
    display: inline-block;
    padding-left: 0;
    vertical-align: top;
    width: 100%
}
.c-fixed_wrapper {
    overflow: hidden;
    position: relative
}
@media (min-width:1000px) {
    .c-fixed_wrapper {
        height: 100vh
    }
}

@media (max-width:999px) {
    .c-fixed_wrapper {
        height: 50vh
    }
}
.c-fixed {
    background-position: 50%;
    background-size: cover;
    height: 100%;
    opacity: 1
}
.c-fixed_target {
    bottom: -100vh
}

.c-fixed,
.c-fixed_target {
    left: 0;
    position: absolute;
    right: 0;
    top: -100vh
}

.c-fixed {
    background-position: 50%;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    opacity: 1
}

html:not(.has-scroll-smooth) .c-fixed {
    top: 0
}

.golden_text_left_box, .golden_text_right_box {
    filter: drop-shadow(0px 2.32506px 116.253px #000000);
}


.c-fixed a {
    color: #fff;
    font-weight: 600;
    text-decoration: underline;
    font-family: "Inter", sans-serif;
}
.c-fixed a:hover {
    color: #DFB975;
}


.c-summary_list_item {
    opacity: 0;
    position: relative;
    transform: translateY(60px);
    transition: opacity .6s cubic-bezier(.215, .61, .355, 1), transform .6s cubic-bezier(.215, .61, .355, 1)
}

.c-summary_list_item:after {
    background-color: #272727;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    transform: scaleX(0);
    transform-origin: center left;
    transition: transform .6s cubic-bezier(.215, .61, .355, 1)
}

.c-summary_list_item.is-inview {
    opacity: 1;
    transform: none
}

.c-summary_list_item.is-inview:after {
    transform: scaleX(1)
}

.c-summary_list_item.is-inview:first-child {
    transition-delay: .1s
}

.c-summary_list_item.is-inview:first-child:after {
    transition-delay: .5s
}

.c-summary_list_item.is-inview:nth-child(2) {
    transition-delay: .2s
}

.c-summary_list_item.is-inview:nth-child(2):after {
    transition-delay: .6s
}

.c-summary_list_item.is-inview:nth-child(3) {
    transition-delay: .3s
}

.c-summary_list_item.is-inview:nth-child(3):after {
    transition-delay: .7s
}

.c-summary_list_item.is-inview:nth-child(4) {
    transition-delay: .4s
}

.c-summary_list_item.is-inview:nth-child(4):after {
    transition-delay: .8s
}

.c-summary_list_item.is-inview:nth-child(5) {
    transition-delay: .5s
}

.c-summary_list_item.is-inview:nth-child(5):after {
    transition-delay: .9s
}

.c-summary_list_item.is-inview:nth-child(6) {
    transition-delay: .6s
}

.c-summary_list_item.is-inview:nth-child(6):after {
    transition-delay: 1s
}

.c-summary_list_item.is-inview .c-summary_list_icon {
    opacity: 1;
    transform: translateY(-50%) rotate(0deg)
}

.c-summary_list_item.is-inview:first-child .c-summary_list_icon {
    transition-delay: .6s
}

.c-summary_list_item.is-inview:nth-child(2) .c-summary_list_icon {
    transition-delay: .7s
}

.c-summary_list_item.is-inview:nth-child(3) .c-summary_list_icon {
    transition-delay: .8s
}

.c-summary_list_item.is-inview:nth-child(4) .c-summary_list_icon {
    transition-delay: .9s
}

.c-summary_list_item.is-inview:nth-child(5) .c-summary_list_icon {
    transition-delay: 1s
}

.c-summary_list_item.is-inview:nth-child(6) .c-summary_list_icon {
    transition-delay: 1.1s
}